/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #009688; /* Teal color */
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav select {
    padding: 10px;
    font-size: 16px;
}

main {
    padding: 20px;
}

.table-wrapper {
    margin-top: 20px;
    overflow-x: auto; /* Allow horizontal scrolling for small screens */
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.leaderboard-table th {
    background-color: #009688; /* Teal color */
    color: #ffffff;
}

.leaderboard-table tr:nth-child(even) {
    background-color: #e0f2f1; /* Light teal color */
}

.leaderboard-table tr:nth-child(odd) {
    background-color: #ffffff;
}

.leaderboard-table td.points {
    text-align: right;
}

.top-team {
    font-weight: bold;
}

.team-info {
    display: flex;
    flex-direction: column;
}

.medal-icon {
    font-size: 24px;
    margin-right: 10px;
}

.team-name {
    font-size: 1.1em;
    margin: 0;
}

.manager-name {
    font-size: 0.9em;
    color: #757575;
}

footer {
    background-color: #009688; /* Teal color */
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .team-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .team-name {
        font-size: 1em;
    }

    .manager-name {
        font-size: 0.8em;
    }

    .leaderboard-table {
        font-size: 0.8em;
    }

    footer {
        font-size: 0.8em;
    }
}
